.text{
    font-family: 'Courier New', Courier, monospace;
}
.title{
    font-family: cursive;
    color: rgb(56, 58, 57);
}
.card-body{
    /* width: '18rem'; */
    background-color: rgb(132, 166, 166); 
} 

.card-btn{
    color: white;
    
    background-color: rgb(74, 96, 85); 
     /* rgb(75, 176, 175); */
    font-family: fantasy;
}