/* .body {
    background-color: rgb(173, 212, 200);
  } */

.wrap-main{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.pad{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.imgpad{
    padding-top: 10px;
    padding-bottom: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    max-height: 220px;
    max-width: 224px;
    min-width: 224px;
    min-height: 224px;
}

/* start */
.upload-btn{
    display: flex;
    margin-top: 20px;
}
input{
    display: none;
}
.label-c{
    color: white;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
}
.uploadimage{
    height: 30px;
    width: fit-content;
    background-color:  rgb(129, 193, 146) ;
    text-align: center;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
/* end */
