.wrap-main{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.btngrp{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}
.no-display{
    display: none;
}

.pad{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
    max-height: 20px;
  }